html {
    background-color: black;
    color: white;
}

body, html {
    height: 90%;
    display: grid;
  }

h1 {
    font-family: 'VT323', monospace;
    font-size: 60px;
    font-weight: lighter;
    color: rgb(21, 255, 0);
    display: inline;
    margin-left: 7px;
}

img {
    width: 38px;
}

div {
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.hide { 
    display: none;
}

